[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
psycopg2-binary = "*"
flake8 = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]
pytest = "*"
requests = "*"
aiosqlite = "*"

[requires]
python_version = "*"
